name: Self-Hosted-Ubuntu-Runner-DockerHub
on: [push]
jobs:
 Build:
 runs-on: self-hosted
 steps:
 - name: Checkout code
 uses: actions/checkout@v4
 - name: Login to Docker Hub
 run: |
 echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
 -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
 - name: Build Docker image
 run: |
 docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-app:latest .
 - name: Push Docker image
 run: |
 docker push ${{ secrets.DOCKER_USERNAME }}/flask-app:latest
 - name: Stop old container
 run: |
 docker stop flask-app || true
 docker rm flask-app || true
 - name: Run new container
 run: |
 docker run -d -p 80:5000 --name flask-app \
 ${{ secrets.DOCKER_USERNAME }}/flask-app:latest
